.quantum-circuit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.quantum-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
}